<div class="container-fluid">
  <div class="mx-auto col-12"
       style="background-image: url(../assets/img/background_actu_top_v3.png);
       margin-bottom: 0px;
    max-width: 800px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: initial;
    font-family: 'Ink Free',serif;">
    <div class="h2 text-center" style="margin-bottom: 0px; padding-top: 74px">
      <ins>{{communication.title}}</ins>
    </div>
  </div>
  <div class="mx-auto col-12"
       style="background-image: url(../assets/img/background_actu_mid_v3.png);
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 800px;
    background-repeat: repeat-y;
    background-size: auto;
    background-position: initial;
    font-family: 'Ink Free',serif;">

    <div class="row" style="padding-top: 50px; padding-left: 40px">

      <div class="col-2" style="padding-left: 30px; margin-top: -70px">{{communication.date}}</div>
      <div class="col-9">

        <div class="col-6">
          <figure class="figure image-wrapper float-left pr-2">
            <img class="figure-img img-fluid rounded" src="http://localhost:9101/image/{{communication.imagePath}}" alt="...">
          </figure>
        </div>

        <div class="col-sm-12" style="float: none;">
          <div class="">{{communication.body}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto col-12"
       style="
       background-image: url(../assets/img/background_actu_bot_v3.png);
       margin-top: 0px;
    max-width: 800px;
    background-repeat: no-repeat;
    background-position: initial;">
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
