<!--<div-->
<!--  *ngFor="let new of news"-->
<!--  fxFlex="25"-->
<!--  fxFlex.md="33"-->
<!--  fxFlex.sm="50"-->
<!--  fxFlex.xs="100"-->
<!--  fxLayout="column"-->
<!--  style="padding: 5px;"-->
<!--&gt;-->
<!--  <mat-card class="new-card mat-elevation-z10 text-center">-->

<!--    <mat-card-header>-->

<!--      <mat-card-title class="new-card-title">{{new.title}}</mat-card-title>-->

<!--    </mat-card-header>-->

<!--    &lt;!&ndash;  <img mat-card-image [src]="new.path">&ndash;&gt;-->
<!--    <img mat-card-image src="http://placekitten.com/g/600/400">-->

<!--    <mat-card-content>-->
<!--      <p>{{new.body}}</p>-->
<!--    </mat-card-content>-->

<!--    <mat-card-actions class="new-actions">-->
<!--      &lt;!&ndash;TODO tester fxFlexsur button&ndash;&gt;-->
<!--      <button  mat-button class="mat-raised-button" [routerLink]="['/news', new.id]">-->
<!--        Lire-->
<!--      </button>-->

<!--    </mat-card-actions>-->

<!--  </mat-card>-->
<!--</div>-->
