
<div>
  <div class="div-background-logo" fxLayoutAlign="center center">
    <img fxHide.xs class="img-background-logo" src="{{imgpathBackgroundLogo}}">
  </div>
  <div class="div-logo" fxLayoutAlign="center center">
    <img class="img-logo" src="{{imgpathLogo}}">
  </div>
  <div class="spaceLnR" fxLayout="column" fxLayoutAlign="space-around center">
    <div>
      <h2><strong>{{h1}}</strong></h2>
      <p>{{presentation}}</p>
    </div>
    <div class="img-title" fxLayoutAlign="center center">
      <img class="img-resizable" src="{{imgpathSubtitle}}" alt="{{imgAltSubtitle}}">
    </div>
    <app-news-main-page></app-news-main-page>

    <div>
      <button mat-raised-button color="primary" routerLink="/news">
        <mat-icon class="clickable">article</mat-icon>
        <span class="nav-caption">  Voir toutes les actualités</span>
      </button>
    </div>

    <div [formGroup]="form" fxFlex fxLayout="column" fxLayoutGap="10px"  style="margin-top: 30px">
      <mat-divider></mat-divider>
      <div>
        <h2><strong>S'inscrire à la newsletter</strong></h2>
      </div>
      <div>
        <div>
          <mat-form-field>

            <input matInput placeholder="Email" formControlName="email" #email>

            <mat-error *ngIf="!email.validity">Doit être une adresse email valide</mat-error>

          </mat-form-field>

            <button mat-raised-button color="primary"
                    style="margin-left: 10px"
                    [disabled]="!form.valid"
                    (click)="submit(form)">S'inscrire</button>
        </div>
      </div>
    </div>
  </div>





