<div [formGroup]="form" fxFlex fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px">

  <div fxLayout="column" fxLayoutGap="10px"
       fxFlex="33"
       fxFlex.md="33"
       fxFlex.sm="100"
       fxFlex.xs="100">

    <div class="div-padding" fxLayout="column">

      <mat-form-field>

        <input (change)="saveDataNewsForm()" matInput placeholder="Titre" formControlName="title" #titl>

        <mat-hint align="end">
          {{titl.value.length}} / 60
        </mat-hint>

        <mat-error *ngIf="title.errors?.required">Le titre est obligatoire</mat-error>

      </mat-form-field>

    </div>

    <div class="div-padding" fxLayout="column">

      <app-upload-file (change)="saveDataNewsForm()"></app-upload-file>

    </div>
  </div>

  <div  class="div-padding" fxFlex fxLayout="column">

    <mat-form-field appearance="outline">

    <textarea (change)="saveDataNewsForm()" matInput placeholder="description" formControlName="longDescription" #descr>

    </textarea>

      <mat-hint align="end">
        {{descr.value.length}} / 3000
      </mat-hint>

      <mat-error *ngIf="description.errors?.required">La description est obligatoire</mat-error>

    </mat-form-field>
  </div>
</div>


<!--    <div>Data change input:-->
<!--      <input #dataInput type="text" class="form-control" (change)="saveData(dataInput.value)"/>-->
<!--    </div>-->



